mixin listItem(link, name, className)
    li(class=className + '__item')
        a(class=className + '__link' href=link)= name

mixin resumeItem(head, dur, text)
    section.resume-item
        h3.resume-item__head!= head
        span.resume-item__dur!= dur
        p.resume-item__text!= text

mixin progressBar(name, val)
    .progress
        span.progress__name= name
        progress.progress__bar_html5(max="100" value=val)
            .progress__bar_html
                span.progress__perc= val + '%'

mixin otherSkills(skName, skDesc)
    .skill-item
        span.skill-item__name= skName
        p.skill-item__desc!= skDesc

mixin project(prName, prTech)
    article.portfolio-project
        h3.project__name= prName
        if typeof prTech === 'string'
            span.project__tech= prTech
        else
            span.project__tech= prTech.join(' + ')
        button.project__info Подробнее